@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
}

img {
  width: 100%;
}

.Colores {
  color: #3C60FC;
}

.Encabezado {
  width: 100%;
  background: #131315;
  position: fixed;
  z-index: 11111;
}
.Encabezado__contenedor {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Encabezado__contenedor__Logo {
  z-index: 1111;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Encabezado__contenedor__Logo img {
  width: 5rem;
}
.Encabezado__contenedor__Logo--titulo {
  color: #F5F7FF;
  font-family: "Poppins", sans-serif;
}
.Encabezado__contenedor__Menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #131315;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.Encabezado__contenedor__Menu--enlace {
  color: #F5F7FF;
}
.Encabezado__contenedor__Menu.active {
  display: flex;
}
.Encabezado__contenedor__BarMenu {
  z-index: 11111;
  color: #F5F7FF;
  font-size: 2rem;
}

@media screen and (min-width: 750px) {
  .Encabezado__contenedor__Menu {
    width: auto;
    display: block;
    position: relative;
    height: 100%;
    text-align: right;
  }
  .Encabezado__contenedor__Menu--enlace {
    font-size: 1.8rem;
    margin: 0 1rem;
    padding-bottom: 0.5rem;
    position: relative;
  }
  .Encabezado__contenedor__Menu--enlace::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 0.2rem;
    background: #F5F7FF;
    bottom: 0;
    transition: all 0.5s ease-in-out;
  }
  .Encabezado__contenedor__Menu--enlace:hover::before {
    width: 100%;
  }
  .Encabezado__contenedor__BarMenu {
    display: none;
  }
}
.Hero {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/FondoHero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.Hero__contenedor {
  height: auto;
  display: flex;
  flex-direction: column;
}
.Hero__contenedor__presentacion {
  order: 2;
  text-align: center;
}
.Hero__contenedor__presentacion--titulo {
  margin-top: 2rem;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: #F5F7FF;
}
.Hero__contenedor__presentacion--titulo:nth-child(2) {
  margin-top: 0;
}
.Hero__contenedor__presentacion--parrafo {
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  color: #F5F7FF;
  font-size: 1.4rem;
  line-height: 1.5;
}
.Hero__contenedor__presentacion--btn {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  padding: 1rem 3rem;
  border-radius: 1rem;
  background: #3C60FC;
  color: #F5F7FF;
}
.Hero__contenedor__presentacion--btn:hover {
  background: #1841f7;
}
.Hero__contenedor__Imagen {
  width: 100%;
  order: 1;
}

@media screen and (min-width: 400px) {
  .Hero {
    height: 80vh;
  }
  .Hero__contenedor {
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .Hero__contenedor__Imagen {
    display: none;
  }
}
@media screen and (min-width: 850px) {
  .Hero {
    height: 90vh;
  }
  .Hero__contenedor {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem 2rem;
  }
  .Hero__contenedor__Imagen {
    display: block;
    width: 50%;
    order: 2;
    position: relative;
  }
  .Hero__contenedor__Imagen--ImagenHero {
    margin-top: 25rem;
  }
  .Hero__contenedor__presentacion {
    width: 50%;
    text-align: start;
    padding: 1rem 2rem;
  }
  .Hero__contenedor__presentacion--parrafo {
    padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  .Hero__contenedor__presentacion--titulo {
    font-size: 3vw;
  }
  .Hero__contenedor__presentacion--parrafo {
    font-size: 1vw;
  }
  .Hero__contenedor__presentacion--btn {
    margin-top: 3rem;
    font-size: 2rem;
  }
  .Hero__contenedor__Imagen {
    padding: 6rem;
  }
  .Hero__contenedor__Imagen--ImagenHero {
    margin-left: 5rem;
  }
}
.ContadoresClientes {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ContadoresClientes__informacion {
  margin-top: 1rem;
  padding: 1rem;
}
.ContadoresClientes__informacion--titulo {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.ContadoresClientes__informacion--parrafo {
  text-align: center;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}
.ContadoresClientes__contadores {
  width: 100%;
  margin-top: 2rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
}
.ContadoresClientes__contadores--contenedor {
  text-align: center;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.ContadoresClientes__contadores--contenedor--numero {
  font-size: 3rem;
}
.ContadoresClientes__contadores--contenedor--parrafo {
  font-size: 1.8rem;
}

@media screen and (min-width: 850px) {
  .ContadoresClientes {
    margin-top: 8rem;
    flex-direction: row;
    margin-bottom: 4rem;
    align-items: center;
  }
}
.GaleriaImagenes {
  width: 100%;
  display: grid;
}
.GaleriaImagenes__card {
  margin: 1rem 0;
}

@media screen and (min-width: 650px) {
  .GaleriaImagenes {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (min-width: 850px) {
  .GaleriaImagenes {
    padding: 0 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.PieDePagina {
  width: 100%;
  background: #131315;
}
.PieDePagina__contenedor {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.PieDePagina__contenedor__Logo {
  z-index: 1111;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.PieDePagina__contenedor__Logo img {
  width: 5rem;
}
.PieDePagina__contenedor__Logo--titulo {
  color: #F5F7FF;
  font-family: "Poppins", sans-serif;
}
.PieDePagina__contenedor__creditos--CopyRight {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #F5F7FF;
  margin-top: 2rem;
}
.PieDePagina__contenedor__creditos--iconos {
  text-align: center;
  gap: 1rem;
  margin-top: 2rem;
}
.PieDePagina__contenedor__creditos--iconos i {
  font-size: 2.5rem;
  color: #F5F7FF;
  margin: 0 1rem;
}

@media screen and (min-width: 1000px) {
  .PieDePagina__contenedor {
    flex-direction: row;
  }
  .PieDePagina__contenedor__creditos--CopyRight {
    font-size: 1.8rem;
  }
  .PieDePagina__contenedor__creditos--iconos i {
    font-size: 3rem;
  }
}
.Body {
  width: 100%;
  height: 110vh;
  background: url(../../img/FondoFormulario.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
}

.ContenedorFormulario {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: rgba(250, 250, 250, 0.5);
  backdrop-filter: blur(2px);
  overflow: scroll;
}
.ContenedorFormulario .Error {
  padding: 1rem;
  width: 100%;
  background: rgb(185, 0, 0);
  color: #F5F7FF;
  text-transform: uppercase;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
}
.ContenedorFormulario .Correcto {
  padding: 1rem;
  width: 100%;
  background: rgb(0, 185, 9);
  color: #F5F7FF;
  text-transform: uppercase;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
}
.ContenedorFormulario__informacion {
  position: relative;
  width: 100%;
  color: #F5F7FF;
  font-family: "Roboto", sans-serif;
}
.ContenedorFormulario__informacion--info {
  width: 100%;
  height: 100%;
  background: #1841f7;
  padding: 1rem 2rem;
}
.ContenedorFormulario__informacion--info--titulo {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.ContenedorFormulario__informacion--info--contenedor {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.ContenedorFormulario__informacion--info--contenedor--parrafo {
  margin-left: 1.5rem;
  font-size: 1.6rem;
}
.ContenedorFormulario__informacion--info--contenedor i {
  font-size: 2.5rem;
}
.ContenedorFormulario__Formulario {
  font-family: "Roboto", sans-serif;
  padding: 2rem 1rem;
  text-align: center;
}
.ContenedorFormulario__Formulario--titulo {
  font-size: 3.5rem;
}
.ContenedorFormulario__Formulario--parrafo {
  font-size: 1.8rem;
  margin: 1rem 0;
}
.ContenedorFormulario__Formulario--inputSubmit {
  max-width: 25rem;
  width: 100%;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 2.3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background: #3C60FC;
  color: #F5F7FF;
  margin: 2rem auto 0 auto;
}
.ContenedorFormulario__Formulario--inputSubmit:hover {
  background: #1841f7;
}
.ContenedorFormulario__Formulario__contenedor {
  width: 100%;
  display: grid;
}
.ContenedorFormulario__Formulario__contenedor--input {
  padding: 1rem;
  font-size: 1.6rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: #8e8d8d;
  background: #efeded;
}
.ContenedorFormulario__Formulario__contenedor--input::placeholder {
  color: #aeacac;
}
.ContenedorFormulario__Formulario__contenedor .TextArea {
  width: 100%;
  height: 25rem;
  resize: none;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding: 1rem;
  color: #8e8d8d;
  background: #efeded;
  margin-top: 1rem;
}
.ContenedorFormulario__Formulario__contenedor .TextArea::placeholder {
  color: #aeacac;
  font-size: 1.6rem;
}

@media screen and (min-width: 748px) {
  .Body {
    padding: 0 2rem;
  }
  .ContenedorFormulario {
    margin: 5rem auto;
    height: auto;
  }
  .ContenedorFormulario .Error {
    grid-column: 1/3;
    margin-top: 0;
  }
  .ContenedorFormulario .Correcto {
    grid-column: 1/3;
    margin-top: 0;
  }
  .ContenedorFormulario__Formulario__contenedor {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .ContenedorFormulario__Formulario__contenedor--input {
    margin: 0;
  }
  .ContenedorFormulario__Formulario__contenedor .TextArea {
    height: 20rem;
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1000px) {
  .Body {
    overflow: hidden;
  }
  .ContenedorFormulario {
    border-radius: 1rem;
    display: flex;
    padding: 4rem 2rem;
    box-shadow: 6px 6px 20px #131315;
    margin: 15rem auto;
    overflow: visible;
  }
  .ContenedorFormulario__informacion {
    width: 30%;
  }
  .ContenedorFormulario__informacion--info {
    position: absolute;
    width: 32rem;
    height: 52rem;
    top: 0.5rem;
    margin-left: -10rem;
    padding: 10rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ContenedorFormulario__informacion--info--titulo {
    width: 100%;
    font-size: 4.5rem;
  }
  .ContenedorFormulario__informacion--info--contenedor {
    margin: 1rem 0;
  }
  .ContenedorFormulario__Formulario {
    width: 70%;
  }
}
.AcercaDe {
  width: 100%;
  position: fixed;
  transition: all 0.5s ease-in-out;
}
.AcercaDe.scroll {
  background: #131315;
}
.AcercaDe__contenedor {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AcercaDe__contenedor__logo {
  z-index: 1111;
  display: flex;
  align-items: center;
  color: #F5F7FF;
}
.AcercaDe__contenedor__logo--imagen {
  width: 4rem;
}
.AcercaDe__contenedor__logo--titulo {
  font-family: "Poppins", sans-serif;
  margin-left: 0.5rem;
}
.AcercaDe__contenedor__Menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #131315;
  z-index: 111;
}
.AcercaDe__contenedor__Menu--enlace {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  margin: 2rem 0;
  color: #F5F7FF;
}
.AcercaDe__contenedor__Menu.active {
  display: flex;
}
.AcercaDe__contenedor__BarMenu {
  z-index: 1111;
  color: #131315;
  font-size: 3rem;
  margin-right: 1rem;
  cursor: pointer;
  color: #F5F7FF;
}

.AcercaDeHero {
  width: 100%;
  height: 50vh;
  background: #14668d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: #F5F7FF;
  gap: 1rem;
  font-size: 2.5rem;
}
.AcercaDeHero--titulo {
  font-weight: 300;
}

.AcercaDeInfo {
  width: 100%;
  padding: 0 1rem;
  margin-top: -6rem;
}
.AcercaDeInfo__informacion {
  padding: 1rem;
}
.AcercaDeInfo__informacion--parrafo {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .AcercaDeInfo {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;
  }
  .AcercaDeInfo__contenedorImage {
    width: 50%;
    order: 2;
    position: relative;
  }
  .AcercaDeInfo__contenedorImage img {
    position: absolute;
    transform: translateY(35rem);
  }
  .AcercaDeInfo__informacion {
    order: 1;
    width: 50%;
  }
}
.Potenciar {
  padding: 3rem 2rem;
  width: 100%;
}
.Potenciar--titulo {
  width: 100%;
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.Potenciar--titulo:nth-child(2) {
  margin-bottom: 2rem;
}
.Potenciar__contenedor__descripcion--parrafo {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.Potenciar__contenedor__imagen {
  margin-top: 5rem;
  width: 100%;
}
.Potenciar__contenedor__imagen img {
  position: relative;
  z-index: -11;
  animation: Movimiento 3s infinite;
}

@keyframes Movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=Estilos.css.map */
